

    @* Components are defined in the 'Content/components/expose-components.js'
        Currently they must be loaded into the global.Components array until someone figures out how to add more global references.
        *@

    
    @Html.React("Components.Example", new { })
    @Html.React("Components.HelloWorldComponent", new { })




    @*
        Direct link to Api documentation. Auto generated from Api Controllers not marked Ignore.
        <footer>
        <h3>Swagger Link</h3>
        <a href="/swagger">Swagger UI</a>
    </footer>*@



    
    @*  A Markup to Html library. From ReactJs.Net tutorial but potentially useful for later post decorating.
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>*@

